html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#wrap {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 100px auto;
    border: 1px solid #000;
    overflow: hidden;
}