
.person-warp {
    position: absolute;
    left: 300px;
    top: 125px;
    width: 220px;
    height: 140px;
    .person-info {
        position: absolute;
        left: 0;
        top: 20px;
        height: 20px;
        width: 100%;
        .person-name {
            text-align: center;
            font-size: 14px;
            color: #fff;
            padding-right: 40px;
        }
        .blood {
            padding: 0 60px 0 40px;
            .wrap {
                border: 1px solid #999;
                div {
                    width: 100%;
                    height: 6px;
                    background: red;
                }
            }
        }
        .person-level {
            color: red;
            padding: 0 40px;
            span {
                color: red;
            }
        }
    }
}

.person-ai {
    left: 1300px;
    top: 425px;
}